<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>The programming languages I use most for data science are Python, R and SQL.</p>
  </div>
  <div class="tech">
    <h2>Machine Learning</h2>
    <i class="devicon-python-plain"></i>
    <i class="fab fa-r-project"></i>
    <i class="devicon-nodejs-plain-"></i>
    <span class="iconify" data-icon="logos-tensorflow" data-inline="false"></span>
    <p>I mostly use Scikit-Learn, Keras and Tensorflow (Keras) for prototyping machine learning algorithms.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-github-plain"></i>
    <i class="devicon-docker-plain"></i>
    <p>Version and dependency management with Git, Github and Docker.</p>
  </div>
</div>