<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>The programming languages I use most for data science are Python, R and SQL.</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="image"><img src="{{ "/assets/img/sklearn_new.png" | prepend: site.baseurl }}" /></i>
    <i class="image"><img src="{{ "/assets/img/keras_icon.png" | prepend: site.baseurl }}" /></i>
    <i class="iconify" data-icon="logos-tensorflow" data-inline="false"></i>
    <p>I mostly use the libraries Scikit-Learn, Keras and Tensorflow for machine learning.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-github-plain"></i>
    <i class="devicon-docker-plain-wordmark"></i>
    <p>Version and dependency management with Git, Github and Docker.</p>
  </div>
</div>