<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Chatbot" src="{{ "/assets/img/chatbot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Building a Chatbot: PharmacyFinder </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built a chatbot from scratch, inspired by the instruction from the blogpost <a href="https://chatbotsmagazine.com/rx-finder-chatbot-with-tensorflow-813faa74e72">Rx Finder Chatbot using Tensorflow</a>. The goal was to create
      a chatbot that tells the users the nearest pharmacy on any given day, including emergency services on the weekend. The chatbot uses a bag-of-word approach, where each sentence is classified according to its intent. The response is created
      using a webcrawler. The user interface was implemented using Twilio and the Telegram messenger.</p>
    <a class="project-link" href="https://github.com/julia-kraus/Chatbot">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Finding Lane Lines" src="{{ "/assets/img/lane_lines.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Udacity Self-Driving Car Engineer: Finding Lane Lines </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built an algorithm to detect lane lines. To detect the lane lines, several image transformations from the OpenCV library were used. The steps were: Transformation to HSV color space and color selection, grayscaling,
      gaussian blur, canny edge detection, and hough transform.
    </p>
    <a class="project-link" href="https://github.com/julia-kraus/CarND-LaneLines-P1">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Advanced Lane Line Finding" src="{{ "/assets/img/advanced_lane_lines.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Udacity Self-Driving Car Engineer: Advanced Lane Line Finding </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This project improved the lane line detection of the previous project. The picture was transformed into bird's eye view so the curvature and equation of the lane could be calculated. The interpolated lane line warped back onto the original
      image.
    </p>
    <a class="project-link" href="https://github.com/julia-kraus/CarND-Advanced-Lane-Lines">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Traffic Sign Classifier" src="{{ "/assets/img/traffic_sign_classifier.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Udacity Self-Driving Car Engineer: Traffic Sign Classifier </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, a neural network was built to classify traffic sign images. The architecture was built in Keras based on <a href="http://yann.lecun.com/exdb/lenet/">LeNet</a>.
    </p>
    <a class="project-link" href="https://github.com/julia-kraus/CarND-Traffic-Sign-Classifier-Project">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Behavioral Cloning" src="{{ "/assets/img/behavioral_cloning.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Udacity Self-Driving Car Engineer: Behavioral Cloning </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, you teach a car to stay on track on a given training track. First, you obtain training data by steering the car through the course in a simulation several times. Then a neural net architecture is applied to output the
      steering angles for the car.
    </p>
    <a class="project-link" href="https://github.com/julia-kraus/CarND-Behavioral-Cloning-P3">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Extended Kalman Filters" src="{{ "/assets/img/extended_kalman_filters.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Udacity Self-Driving Car Engineer: Extended Kalman Filters </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, a kalman filter to estimate the state of a moving object of interest with noisy lidar and radar measurements was implemented.</p>
    <a class="project-link" href="https://github.com/julia-kraus/CarND-Extended-Kalman-Filter-Project">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Algorithms I" src="{{ "/assets/img/algorithms1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Coursera: Princeton Algorithms Part I </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Basic algorithms class. Solutions are implemented in Java</p>
    <a class="project-link" href="https://github.com/julia-kraus/Coursera-Algorithms-PartI-Princeton">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Emotions Classifier" src="{{ "/assets/img/emotions.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fast.ai: Emotions Classifier </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Project for the fast.ai online course. </p>
    <a class="project-link" href="https://github.com/julia-kraus/EmotionsClassifier">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Soccer Prediction" src="{{ "/assets/img/football1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Soccer Prediction </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Predicting champions league results with a support vector machine classifier. The results were about the same accuracy as my work colleagues' guesses. </p>
    <a class="project-link" href="https://github.com/julia-kraus/footballPrediction">Check it out</a>
  </div>
</div>