<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Chatbot" src="{{ "/assets/img/chatbot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Building a Chatbot: PharmacyFinder </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built a chatbot from scratch, inspired by the instruction from the blogpost <a href="https://chatbotsmagazine.com/rx-finder-chatbot-with-tensorflow-813faa74e72">Rx Finder Chatbot using Tensorflow</a>. The goal was to create
      a chatbot that tells the users the nearest pharmacy on any given day, including emergency services on the weekend. The chatbot uses a bag-of-word approach, where each sentence is classified according to its intent. The response is created
      using a webcrawler. The user interface was implemented using Twilio and the Telegram messenger.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Finding Lane Lines" src="{{ "/assets/img/lane_lines.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Udacity Self-Driving Car Engineer: Finding Lane Lines </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built a chatbot from scratch, using the instruction from the blogpost . The goal was to create a chatbot that tells the users the nearest pharmacy on any given day, including emergency services on the weekend.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Advanced Lane Line Finding" src="{{ "/assets/img/advanced_lane_lines.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Udacity Self-Driving Car Engineer: Advanced Lane Line Finding </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built a chatbot from scratch, using the instruction from the blogpost . The goal was to create a chatbot that tells the users the nearest pharmacy on any given day, including emergency services on the weekend.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Traffic Sign Classifier" src="{{ "/assets/img/traffic_sign_classifier.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Udacity Self-Driving Car Engineer: Traffic Classifier </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built a chatbot from scratch, using the instruction from the blogpost . The goal was to create a chatbot that tells the users the nearest pharmacy on any given day, including emergency services on the weekend.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Behavioral Cloning" src="{{ "/assets/img/behavioral_cloning.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Udacity Self-Driving Car Engineer: Behavioral Cloning </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built a chatbot from scratch, inspired by the instruction from the blogpost <a href="https://chatbotsmagazine.com/rx-finder-chatbot-with-tensorflow-813faa74e72">Rx Finder Chatbot using Tensorflow</a>. The goal was to
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Extended Kalman Filters" src="{{ "/assets/img/extended_kalman_filters.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Udacity Self-Driving Car Engineer: Extended Kalman Filters </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>In this project, I built a chatbot from scratch, using the instruction from the blogpost . The goal was to create a chatbot that tells the users the nearest pharmacy on any given day, including emergency services on the weekend. The user
      interface was implemented using Twilio and the Telegram messenger. dolor sit amet.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Algorithms I" src="{{ "/assets/img/algorithms1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Coursera: Princeton Algorithms Part I </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>